/frontend/public/assets
/frontend/public/cards
/frontend/public/cards_hq
/frontend/public/version.txt
*.log
Gemfile.lock
coverage
tmp
/decks.json
/AllSets.json
data/sets-incoming
.respec_failures
.locked_mtgjson_sets
