server {
    server_name lore-seeker.cards;

    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    server_name lore-seeker.cards;

    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/inwx/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/inwx/privkey.pem;

    add_header Strict-Transport-Security "max-age=604800; includeSubDomains" always;

    try_files $uri/index.html $uri @lore_seeker;

    location @lore_seeker {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port 443;
        proxy_pass http://localhost:18803;
    }

    error_page 401 /error/401.html;
    error_page 404 /error/404.html;
    error_page 500 /error/500.html;
    error_page 502 /error/502.html;
    error_page 503 /error/503.html;
    error_page 504 /error/504.html;

    location /error/ {
        root /usr/local/share/fenhl/lore-seeker/static;
        internal;
    }
}
