server {
    server_name www.lore-seeker.cards;
    server_name loreseeker.fenhl.net;
    server_name laire.fenhl.net;

    listen 80;
    listen [::]:80;

    return 301 https://lore-seeker.cards$request_uri;
}

server {
    server_name www.lore-seeker.cards;
    server_name loreseeker.fenhl.net;
    server_name laire.fenhl.net;

    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/inwx/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/inwx/privkey.pem;

    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;

    return 301 https://lore-seeker.cards$request_uri;
}
