%h1 Sealed
%form
  - @packs_to_open.each do |set_code, count|
    %div
      %input{type: "number", name: "count[]", value: count, min: 0}
      = select_tag "set[]", options_for_select(@sets.map{|set| [set.name, set.code]}, set_code)
  %button{type: "submit", class: "btn btn-outline-primary"}
    Open packs
- if @cards.present?
  .row.multicard_row
    - @cards.sort_by{|c| -c.main_front.rarity_code}.each_with_index do |card, i|
      .col-4.col-sm-3.card_picture_cell
        = link_to_card(card.main_front) do
          = render 'card/picture', card: card
