%h1 Sealed
%form
  - @packs_to_open.each do |set_code, count|
    %div.pack_selection
      %input{type: "number", name: "count[]", value: count, min: 0}
      = select_tag "set[]", options_for_select(@booster_types.map{|code, booster| [booster.name, code]}, set_code)
  %button{type: "submit", class: "btn btn-outline-primary"}
    Open packs
- if @cards.present?
  = form_tag("/deck/visualize", method: :post, enforce_utf8: false) do
    %input{type: "hidden", name: "deck", value: @deck}
    %button.btn.btn-outline-primary
      Preview as Deck
  .row.multicard_row
    - @cards.each_with_index do |card, i|
      .col-4.col-sm-3.card_picture_cell
        = link_to_card(card.main_front) do
          = render 'card/picture', card: card
