.row
  .col-12
    %h3 Contact

    %div
      Site by
      %a{href: "https://fenhl.net/"} Max Dominik Weber
      (Fenhl). Based on
      %a{href: "https://mtg.wtf/"} mtg.wtf
      by Tomasz Wegrzanowski (taw).
      You can contact me by
      = succeed "," do
        %a{href: "mailto:fenhl@fenhl.net"} email
      = succeed "," do
        %a{href: "https://twitter.com/Fenhl"} twitter
      or on the
      %a{href: "https://discordapp.com/invite/Twc6FX2"} Custom Magic Discord
      if you're on there.

    %div
      Special thanks to Anthony Low for help with testing and to
      %a{href: "http://mtgjson.com/"} mtgjson
      for primary source of data used for the official cards.

    %div
      Code is all on
      = succeed "." do
        %a{href: "https://github.com/fenhl/lore-seeker"} github
      If you want API access I'd recommend getting code from there instead of hammering the poor servers.

    %div
      Card text and pictures of official cards are copyright Wizards of the Coast. Custom card designs and their art are property of their respective owners. Custom cards are not for sale.
