%h3 Contact

%div
  Site by Tomasz Wegrzanowski (taw).
  You can contact me by
  %a{href: "mailto:Tomasz.Wegrzanowski@gmail.com"} email
  ,
  %a{href: "http://twitter.com/t_a_w"} twitter
  , or by my account on basically every social site imaginable.

%div
  I invite you to check out my
  %a{href: "http://t-a-w.blogspot.com/"}
    blog
  and
  %a{href: "https://www.youtube.com/channel/UCDlHQYTFt5yXxWXwJ8QlhlQ"}
    youtube channel
  but they're more about programming and video games than Magic: the Gathering.

%div
  Special thanks to Anthony Low for help with testing and to
  %a{href: "http://mtgjson.com/"} mtgjson
  for primary source of data used.

%div
  Code is all on
  %a{href: "https://github.com/taw/magic-search-engine"} github
  \.
  If you want API access I'd recommend getting code from there instead of hammering the poor servers.

%div
  Card text and pictures are all copyright Wizards of the Coast.
