// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

a.site_logo {
  color: black;
}

.warnings {
  font-size: small;
  font-style: italic;
  margin-bottom: 0.5em;
  .warning {}
}

.results_summary {
  font-style: italic;
  margin-bottom: 0.5em;
}

div.pagination {
  text-align: center;
}
.pagination {
  color: #888;
  font-size: small;
  a {
    color: #88f;
  }
  margin-bottom: 0.5em;
}

form.search {
  input[type="text"] {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
  }
}

.search_form_row {
  margin-bottom: 1em;
}

.nav_row {
  margin-top: 1em;
  text-align: center;
}

.glossary_entry {
  margin-bottom: 0.5em;
  .glossary_term {
    font-weight: bold;
  }
}

.rule {
  margin-bottom: 0.5em;
  .rule_id {
    font-weight: bold;
  }
}

.cardinfo {
  margin-bottom: 0.5em;
  h3.card_title {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  h5 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  ul {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .flavor {
    font-style: italic;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .infolabel {
    color: #444;
    font-size: small;
  }
  .typeline {
    margin-bottom: 0.25em;
    font-weight: bold;
  }
  .power_toughness {
    font-weight: bold;
  }
  .oracle {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .rulings {
    font-size: small;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.printings_box {
  max-width: 200px;
  font-size: xx-small;
  .selected {
    font-weight: bold;
  }
  .matching {
    font-weight: bold;
  }
  .not_matching {
    color: #888;
  }
}
.card_row {
  position: relative;
}
.card_picture_cell {
  padding: 2%;
}
/* meld and split only enabled on sm+ devices */
.card_picture_container {
  position: relative;
  img {
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    z-index: 0;

    transition: 0.5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &:hover {
      z-index: 1;
    }
    &.flip:hover {
      transform: rotateZ(180deg);
    }
    /* xs */
    &.split:hover {
      transform: translateX(20%) rotateZ(90deg);
    }
    .card_0_of_2 &.split:hover {
      transform: translateX(20%) rotateZ(90deg);
    }
    .card_1_of_2 &.split:hover {
      transform: translateX(-20%) rotateZ(90deg);
    }
    /* sm+ */
    @media(min-width: 544px) {
      .card_0_of_3 &.split:hover {
        transform: translateX(20%) rotateZ(90deg);
      }
      .card_1_of_3 &.split:hover {
        transform: translateX(0%) rotateZ(90deg);
      }
      .card_2_of_3 &.split:hover {
        transform: translateX(-20%) rotateZ(90deg);
      }
    }
  }
  & .dfc {
  }
  &:hover .dfc {
    transform: rotateY(180deg);
  }
  & .dfc_reverse {
    position: absolute;
    transform: rotateY(180deg);
  }
  &:hover .dfc_reverse {
    transform: rotateY(360deg);
  }
  & .melded {
  }
  & .meld0 {
    position: absolute;
    transform: rotateY(180deg);
  }
  & .meld1 {
    position: absolute;
    transform: rotateY(180deg);
  }
  &:hover .melded {
    transform: rotateY(180deg);
    z-index: 1;
  }
  &:hover .meld0 {
    transform: translateY(-30%) rotateY(360deg);
    z-index: 1;
  }
  &:hover .meld1 {
    transform: translateY(72%) rotateY(360deg);
    z-index: 1;
  }
}
.picture_missing {
  font-style: italic;
}
/* Mana symbols */
.manacost {
  white-space: pre;
}
.mana {
  background-image: url("/mana_symbols2.png");
  display:inline-block;
  z-index:1;
  cursor:default;
  vertical-align: middle;
  font-size:0;
  width: 15px;
  height: 15px;
}
.mana-x { background-position: -0px 0; }
.mana-y { background-position: -15px 0; }
.mana-0 { background-position: -30px 0; }
.mana-1 { background-position: -45px 0; }
.mana-2 { background-position: -60px 0; }
.mana-3 { background-position: -75px 0; }
.mana-4 { background-position: -90px 0; }
.mana-5 { background-position: -105px 0; }
.mana-6 { background-position: -120px 0; }
.mana-7 { background-position: -135px 0; }
.mana-8 { background-position: -150px 0; }
.mana-9 { background-position: -165px 0; }
.mana-10 { background-position: -180px 0; }
.mana-11 { background-position: -195px 0; }
.mana-12 { background-position: -210px 0; }
.mana-15 { background-position: -255px 0; }
.mana-16 { background-position: -270px 0; }
.mana-20 { background-position: -330px 0; }
.mana-w { background-position: -345px 0; }
.mana-u { background-position: -360px 0; }
.mana-b { background-position: -375px 0; }
.mana-r { background-position: -390px 0; }
.mana-g { background-position: -405px 0; }
.mana-wu { background-position: -420px 0; }
.mana-wb { background-position: -435px 0; }
.mana-rw { background-position: -450px 0; }
.mana-gw { background-position: -465px 0; }
.mana-ub { background-position: -480px 0; }
.mana-ur { background-position: -495px 0; }
.mana-gu { background-position: -510px 0; }
.mana-br { background-position: -525px 0; }
.mana-bg { background-position: -540px 0; }
.mana-rg { background-position: -555px 0; }
.mana-2w { background-position: -570px 0; }
.mana-2u { background-position: -585px 0; }
.mana-2b { background-position: -600px 0; }
.mana-2r { background-position: -615px 0; }
.mana-2g { background-position: -630px 0; }
.mana-s { background-position: -645px 0; }
.mana-q { background-position: -660px 0; }
.mana-t { background-position: -675px 0; }
.mana-wp { background-position: -690px 0; }
.mana-up { background-position: -705px 0; }
.mana-bp { background-position: -720px 0; }
.mana-rp { background-position: -735px 0; }
.mana-gp { background-position: -750px 0; }
.mana-c { background-position: -765px 0; }
