/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form.search {
  input[type="text"] {
    width: 300px;
  }
}

.card {
  max-width: 800px;
  h3.card_tite {
    margin-bottom: 0.5em;
  }
  .flavor {
    font-style: italic;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .infolabel {
    color: #444;
    font-size: small;
  }
  .typeline {
    margin-bottom: 0.25em;
  }
  .oracle {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer {
  margin-top: 1em;
  text-align: center;
}

.pagination {
  color: #888;
  font-size: small;
  text-align: center;
  a {
    color: #88f;
  }
}

