/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form.search {
  input[type="text"] {
    width: 400px;
  }
}

td, th {
  vertical-align: top;
}

.card {
  width: 450px;
  margin-bottom: 0.5em;
  h3.card_tite {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .flavor {
    font-style: italic;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .infolabel {
    color: #444;
    font-size: small;
  }
  .typeline {
    margin-bottom: 0.25em;
  }
  .oracle {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.printings_box {
  max-width: 200px;
  font-size: xx-small;
  .selected {
    font-weight: bold;
  }
  .matching {
    font-weight: bold;
  }
  .not_matching {
    color: #888;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer {
  margin-top: 1em;
  text-align: center;
  font-size: small;
}

.pagination {
  color: #888;
  font-size: small;
  text-align: center;
  a {
    color: #88f;
  }
  margin-bottom: 0.5em;
}
.mana {
  background-image:url("/mana_symbols.png");
  display:inline-block;
  z-index:30;
  cursor:default;
  vertical-align:top;
  font-size:0;
  width: 15px;
  height: 15px;
}
