.mana-X, .mana-x {
    background-position: -0px 0;
    width: 15px;
    height: 15px
    }
.mana-nX, .mana-nx {
    background-position: -0px -16px;
    width: 14px;
    height: 14px
    }
.mana-sX, .mana-sx {
    background-position: -0px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsX, .mana-xsx {
    background-position: -0px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsX, .mana-xxsx {
    background-position: -0px -55px;
    width: 8px;
    height: 8px
    }
.mana-Y, .mana-y {
    background-position: -15px 0;
    width: 15px;
    height: 15px
    }
.mana-nY, .mana-ny {
    background-position: -14px -16px;
    width: 14px;
    height: 14px
    }
.mana-sY, .mana-sy {
    background-position: -12px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsY, .mana-xsy {
    background-position: -10px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsY, .mana-xxsy {
    background-position: -8px -55px;
    width: 8px;
    height: 8px
    }
.mana-0 {
    background-position: -30px 0;
    width: 15px;
    height: 15px
    }
.mana-n0 {
    background-position: -28px -16px;
    width: 14px;
    height: 14px
    }
.mana-s0 {
    background-position: -24px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs0 {
    background-position: -20px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs0 {
    background-position: -16px -55px;
    width: 8px;
    height: 8px
    }
.mana-1 {
    background-position: -45px 0;
    width: 15px;
    height: 15px
    }
.mana-n1 {
    background-position: -42px -16px;
    width: 14px;
    height: 14px
    }
.mana-s1 {
    background-position: -36px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs1 {
    background-position: -30px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs1 {
    background-position: -24px -55px;
    width: 8px;
    height: 8px
    }
.mana-2 {
    background-position: -60px 0;
    width: 15px;
    height: 15px
    }
.mana-n2 {
    background-position: -56px -16px;
    width: 14px;
    height: 14px
    }
.mana-s2 {
    background-position: -48px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs2 {
    background-position: -40px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs2 {
    background-position: -32px -55px;
    width: 8px;
    height: 8px
    }
.mana-3 {
    background-position: -75px 0;
    width: 15px;
    height: 15px
    }
.mana-n3 {
    background-position: -70px -16px;
    width: 14px;
    height: 14px
    }
.mana-s3 {
    background-position: -60px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs3 {
    background-position: -50px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs3 {
    background-position: -40px -55px;
    width: 8px;
    height: 8px
    }
.mana-4 {
    background-position: -90px 0;
    width: 15px;
    height: 15px
    }
.mana-n4 {
    background-position: -84px -16px;
    width: 14px;
    height: 14px
    }
.mana-s4 {
    background-position: -72px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs4 {
    background-position: -60px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs4 {
    background-position: -48px -55px;
    width: 8px;
    height: 8px
    }
.mana-5 {
    background-position: -105px 0;
    width: 15px;
    height: 15px
    }
.mana-n5 {
    background-position: -98px -16px;
    width: 14px;
    height: 14px
    }
.mana-s5 {
    background-position: -84px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs5 {
    background-position: -70px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs5 {
    background-position: -56px -55px;
    width: 8px;
    height: 8px
    }
.mana-6 {
    background-position: -120px 0;
    width: 15px;
    height: 15px
    }
.mana-n6 {
    background-position: -112px -16px;
    width: 14px;
    height: 14px
    }
.mana-s6 {
    background-position: -96px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs6 {
    background-position: -80px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs6 {
    background-position: -64px -55px;
    width: 8px;
    height: 8px
    }
.mana-7 {
    background-position: -135px 0;
    width: 15px;
    height: 15px
    }
.mana-n7 {
    background-position: -126px -16px;
    width: 14px;
    height: 14px
    }
.mana-s7 {
    background-position: -108px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs7 {
    background-position: -90px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs7 {
    background-position: -72px -55px;
    width: 8px;
    height: 8px
    }
.mana-8 {
    background-position: -150px 0;
    width: 15px;
    height: 15px
    }
.mana-n8 {
    background-position: -140px -16px;
    width: 14px;
    height: 14px
    }
.mana-s8 {
    background-position: -120px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs8 {
    background-position: -100px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs8 {
    background-position: -80px -55px;
    width: 8px;
    height: 8px
    }
.mana-9 {
    background-position: -165px 0;
    width: 15px;
    height: 15px
    }
.mana-n9 {
    background-position: -154px -16px;
    width: 14px;
    height: 14px
    }
.mana-s9 {
    background-position: -132px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs9 {
    background-position: -110px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs9 {
    background-position: -88px -55px;
    width: 8px;
    height: 8px
    }
.mana-10 {
    background-position: -180px 0;
    width: 15px;
    height: 15px
    }
.mana-n10 {
    background-position: -168px -16px;
    width: 14px;
    height: 14px
    }
.mana-s10 {
    background-position: -144px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs10 {
    background-position: -120px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs10 {
    background-position: -96px -55px;
    width: 8px;
    height: 8px
    }
.mana-11 {
    background-position: -195px 0;
    width: 15px;
    height: 15px
    }
.mana-n11 {
    background-position: -182px -16px;
    width: 14px;
    height: 14px
    }
.mana-s11 {
    background-position: -156px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs11 {
    background-position: -130px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs11 {
    background-position: -104px -55px;
    width: 8px;
    height: 8px
    }
.mana-12 {
    background-position: -210px 0;
    width: 15px;
    height: 15px
    }
.mana-n12 {
    background-position: -196px -16px;
    width: 14px;
    height: 14px
    }
.mana-s12 {
    background-position: -168px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs12 {
    background-position: -140px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs12 {
    background-position: -112px -55px;
    width: 8px;
    height: 8px
    }
.mana-13 {
    background-position: -225px 0;
    width: 15px;
    height: 15px
    }
.mana-n13 {
    background-position: -210px -16px;
    width: 14px;
    height: 14px
    }
.mana-s13 {
    background-position: -180px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs13 {
    background-position: -150px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs13 {
    background-position: -120px -55px;
    width: 8px;
    height: 8px
    }
.mana-14 {
    background-position: -240px 0;
    width: 15px;
    height: 15px
    }
.mana-n14 {
    background-position: -224px -16px;
    width: 14px;
    height: 14px
    }
.mana-s14 {
    background-position: -192px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs14 {
    background-position: -160px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs14 {
    background-position: -128px -55px;
    width: 8px;
    height: 8px
    }
.mana-15 {
    background-position: -255px 0;
    width: 15px;
    height: 15px
    }
.mana-n15 {
    background-position: -238px -16px;
    width: 14px;
    height: 14px
    }
.mana-s15 {
    background-position: -204px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs15 {
    background-position: -170px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs15 {
    background-position: -136px -55px;
    width: 8px;
    height: 8px
    }
.mana-16 {
    background-position: -270px 0;
    width: 15px;
    height: 15px
    }
.mana-n16 {
    background-position: -252px -16px;
    width: 14px;
    height: 14px
    }
.mana-s16 {
    background-position: -216px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs16 {
    background-position: -180px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs16 {
    background-position: -144px -55px;
    width: 8px;
    height: 8px
    }
.mana-17 {
    background-position: -285px 0;
    width: 15px;
    height: 15px
    }
.mana-n17 {
    background-position: -266px -16px;
    width: 14px;
    height: 14px
    }
.mana-s17 {
    background-position: -228px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs17 {
    background-position: -190px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs17 {
    background-position: -152px -55px;
    width: 8px;
    height: 8px
    }
.mana-18 {
    background-position: -300px 0;
    width: 15px;
    height: 15px
    }
.mana-n18 {
    background-position: -280px -16px;
    width: 14px;
    height: 14px
    }
.mana-s18 {
    background-position: -240px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs18 {
    background-position: -200px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs18 {
    background-position: -160px -55px;
    width: 8px;
    height: 8px
    }
.mana-19 {
    background-position: -315px 0;
    width: 15px;
    height: 15px
    }
.mana-n19 {
    background-position: -294px -16px;
    width: 14px;
    height: 14px
    }
.mana-s19 {
    background-position: -252px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs19 {
    background-position: -210px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs19 {
    background-position: -168px -55px;
    width: 8px;
    height: 8px
    }
.mana-20 {
    background-position: -330px 0;
    width: 15px;
    height: 15px
    }
.mana-n20 {
    background-position: -308px -16px;
    width: 14px;
    height: 14px
    }
.mana-s20 {
    background-position: -264px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs20 {
    background-position: -220px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs20 {
    background-position: -176px -55px;
    width: 8px;
    height: 8px
    }
.mana-W, .mana-w {
    background-position: -345px 0;
    width: 15px;
    height: 15px
    }
.mana-nW, .mana-nw {
    background-position: -322px -16px;
    width: 14px;
    height: 14px
    }
.mana-sW, .mana-sw {
    background-position: -276px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsW, .mana-xsw {
    background-position: -230px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsW, .mana-xxsw {
    background-position: -184px -55px;
    width: 8px;
    height: 8px
    }
.mana-U, .mana-u {
    background-position: -360px 0;
    width: 15px;
    height: 15px
    }
.mana-nU, .mana-nu {
    background-position: -336px -16px;
    width: 14px;
    height: 14px
    }
.mana-sU, .mana-su {
    background-position: -288px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsU, .mana-xsu {
    background-position: -240px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsU, .mana-xxsu {
    background-position: -192px -55px;
    width: 8px;
    height: 8px
    }
.mana-B, .mana-b {
    background-position: -375px 0;
    width: 15px;
    height: 15px
    }
.mana-nB, .mana-nb {
    background-position: -350px -16px;
    width: 14px;
    height: 14px
    }
.mana-sB, .mana-sb {
    background-position: -300px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsB, .mana-xsb {
    background-position: -250px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsB, .mana-xxsb {
    background-position: -200px -55px;
    width: 8px;
    height: 8px
    }
.mana-R, .mana-r {
    background-position: -390px 0;
    width: 15px;
    height: 15px
    }
.mana-nR, .mana-nr {
    background-position: -364px -16px;
    width: 14px;
    height: 14px
    }
.mana-sR, .mana-sr {
    background-position: -312px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsR, .mana-xsr {
    background-position: -260px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsR, .mana-xxsr {
    background-position: -208px -55px;
    width: 8px;
    height: 8px
    }
.mana-G, .mana-g {
    background-position: -405px 0;
    width: 15px;
    height: 15px
    }
.mana-nG, .mana-ng {
    background-position: -378px -16px;
    width: 14px;
    height: 14px
    }
.mana-sG, .mana-sg {
    background-position: -324px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsG, .mana-xsg {
    background-position: -270px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsG, .mana-xxsg {
    background-position: -216px -55px;
    width: 8px;
    height: 8px
    }
.mana-WU, .mana-wu, .mana-UW, .mana-uw {
    background-position: -420px 0;
    width: 15px;
    height: 15px
    }
.mana-nWU, .mana-nwu, .mana-nUW, .mana-nuw {
    background-position: -392px -16px;
    width: 14px;
    height: 14px
    }
.mana-sWU, .mana-swu, .mana-sUW, .mana-suw {
    background-position: -336px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsWU, .mana-xswu, .mana-xsUW, .mana-xsuw {
    background-position: -280px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsWU, .mana-xxswu, .mana-xxsUW, .mana-xxsuw {
    background-position: -224px -55px;
    width: 8px;
    height: 8px
    }
.mana-WB, .mana-wb, .mana-BW, .mana-bw {
    background-position: -435px 0;
    width: 15px;
    height: 15px
    }
.mana-nWB, .mana-nwb, .mana-nBW, .mana-nbw {
    background-position: -406px -16px;
    width: 14px;
    height: 14px
    }
.mana-sWB, .mana-swb, .mana-sBW, .mana-sbw {
    background-position: -348px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsWB, .mana-xswb, .mana-xsBW, .mana-xsbw {
    background-position: -290px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsWB, .mana-xxswb, .mana-xxsBW, .mana-xxsbw {
    background-position: -232px -55px;
    width: 8px;
    height: 8px
    }
.mana-WR, .mana-wr, .mana-RW, .mana-rw {
    background-position: -450px 0;
    width: 15px;
    height: 15px
    }
.mana-nWR, .mana-nwr, .mana-nRW, .mana-nrw {
    background-position: -420px -16px;
    width: 14px;
    height: 14px
    }
.mana-sWR, .mana-swr, .mana-sRW, .mana-srw {
    background-position: -360px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsWR, .mana-xswr, .mana-xsRW, .mana-xsrw {
    background-position: -300px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsWR, .mana-xxswr, .mana-xxsRW, .mana-xxsrw {
    background-position: -240px -55px;
    width: 8px;
    height: 8px
    }
.mana-WG, .mana-wg, .mana-GW, .mana-gw {
    background-position: -465px 0;
    width: 15px;
    height: 15px
    }
.mana-nWG, .mana-nwg, .mana-nGW, .mana-ngw {
    background-position: -434px -16px;
    width: 14px;
    height: 14px
    }
.mana-sWG, .mana-swg, .mana-sGW, .mana-sgw {
    background-position: -372px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsWG, .mana-xswg, .mana-xsGW, .mana-xsgw {
    background-position: -310px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsWG, .mana-xxswg, .mana-xxsGW, .mana-xxsgw {
    background-position: -248px -55px;
    width: 8px;
    height: 8px
    }
.mana-UB, .mana-ub, .mana-BU, .mana-bu {
    background-position: -480px 0;
    width: 15px;
    height: 15px
    }
.mana-nUB, .mana-nub, .mana-nBU, .mana-nbu {
    background-position: -448px -16px;
    width: 14px;
    height: 14px
    }
.mana-sUB, .mana-sub, .mana-sBU, .mana-sbu {
    background-position: -384px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsUB, .mana-xsub, .mana-xsBU, .mana-xsbu {
    background-position: -320px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsUB, .mana-xxsub, .mana-xxsBU, .mana-xxsbu {
    background-position: -256px -55px;
    width: 8px;
    height: 8px
    }
.mana-UR, .mana-ur, .mana-RU, .mana-ru {
    background-position: -495px 0;
    width: 15px;
    height: 15px
    }
.mana-nUR, .mana-nur, .mana-nRU, .mana-nru {
    background-position: -462px -16px;
    width: 14px;
    height: 14px
    }
.mana-sUR, .mana-sur, .mana-sRU, .mana-sru {
    background-position: -396px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsUR, .mana-xsur, .mana-xsRU, .mana-xsru {
    background-position: -330px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsUR, .mana-xxsur, .mana-xxsRU, .mana-xxsru {
    background-position: -264px -55px;
    width: 8px;
    height: 8px
    }
.mana-UG, .mana-ug, .mana-GU, .mana-gu {
    background-position: -510px 0;
    width: 15px;
    height: 15px
    }
.mana-nUG, .mana-nug, .mana-nGU, .mana-ngu {
    background-position: -476px -16px;
    width: 14px;
    height: 14px
    }
.mana-sUG, .mana-sug, .mana-sGU, .mana-sgu {
    background-position: -408px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsUG, .mana-xsug, .mana-xsGU, .mana-xsgu {
    background-position: -340px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsUG, .mana-xxsug, .mana-xxsGU, .mana-xxsgu {
    background-position: -272px -55px;
    width: 8px;
    height: 8px
    }
.mana-BR, .mana-br, .mana-RB, .mana-rb {
    background-position: -525px 0;
    width: 15px;
    height: 15px
    }
.mana-nBR, .mana-nbr, .mana-nRB, .mana-nrb {
    background-position: -490px -16px;
    width: 14px;
    height: 14px
    }
.mana-sBR, .mana-sbr, .mana-sRB, .mana-srb {
    background-position: -420px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsBR, .mana-xsbr, .mana-xsRB, .mana-xsrb {
    background-position: -350px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsBR, .mana-xxsbr, .mana-xxsRB, .mana-xxsrb {
    background-position: -280px -55px;
    width: 8px;
    height: 8px
    }
.mana-BG, .mana-bg, .mana-GB, .mana-gb {
    background-position: -540px 0;
    width: 15px;
    height: 15px
    }
.mana-nBG, .mana-nbg, .mana-nGB, .mana-ngb {
    background-position: -504px -16px;
    width: 14px;
    height: 14px
    }
.mana-sBG, .mana-sbg, .mana-sGB, .mana-sgb {
    background-position: -432px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsBG, .mana-xsbg, .mana-xsGB, .mana-xsgb {
    background-position: -360px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsBG, .mana-xxsbg, .mana-xxsGB, .mana-xxsgb {
    background-position: -288px -55px;
    width: 8px;
    height: 8px
    }
.mana-RG, .mana-rg, .mana-GR, .mana-gr {
    background-position: -555px 0;
    width: 15px;
    height: 15px
    }
.mana-nRG, .mana-nrg, .mana-nGR, .mana-ngr {
    background-position: -518px -16px;
    width: 14px;
    height: 14px
    }
.mana-sRG, .mana-srg, .mana-sGR, .mana-sgr {
    background-position: -444px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsRG, .mana-xsrg, .mana-xsGR, .mana-xsgr {
    background-position: -370px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsRG, .mana-xxsrg, .mana-xxsGR, .mana-xxsgr {
    background-position: -296px -55px;
    width: 8px;
    height: 8px
    }
.mana-2W, .mana-2w, .mana-W2, .mana-w2 {
    background-position: -570px 0;
    width: 15px;
    height: 15px
    }
.mana-n2W, .mana-n2w, .mana-nW2, .mana-nw2 {
    background-position: -532px -16px;
    width: 14px;
    height: 14px
    }
.mana-s2W, .mana-s2w, .mana-sW2, .mana-sw2 {
    background-position: -456px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs2W, .mana-xs2w, .mana-xsW2, .mana-xsw2 {
    background-position: -380px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs2W, .mana-xxs2w, .mana-xxsW2, .mana-xxsw2 {
    background-position: -304px -55px;
    width: 8px;
    height: 8px
    }
.mana-2U, .mana-2u, .mana-U2, .mana-u2 {
    background-position: -585px 0;
    width: 15px;
    height: 15px
    }
.mana-n2U, .mana-n2u, .mana-nU2, .mana-nu2 {
    background-position: -546px -16px;
    width: 14px;
    height: 14px
    }
.mana-s2U, .mana-s2u, .mana-sU2, .mana-su2 {
    background-position: -468px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs2U, .mana-xs2u, .mana-xsU2, .mana-xsu2 {
    background-position: -390px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs2U, .mana-xxs2u, .mana-xxsU2, .mana-xxsu2 {
    background-position: -312px -55px;
    width: 8px;
    height: 8px
    }
.mana-2B, .mana-2b, .mana-B2, .mana-b2 {
    background-position: -600px 0;
    width: 15px;
    height: 15px
    }
.mana-n2B, .mana-n2b, .mana-nB2, .mana-nb2 {
    background-position: -560px -16px;
    width: 14px;
    height: 14px
    }
.mana-s2B, .mana-s2b, .mana-sB2, .mana-sb2 {
    background-position: -480px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs2B, .mana-xs2b, .mana-xsB2, .mana-xsb2 {
    background-position: -400px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs2B, .mana-xxs2b, .mana-xxsB2, .mana-xxsb2 {
    background-position: -320px -55px;
    width: 8px;
    height: 8px
    }
.mana-2R, .mana-2r, .mana-R2, .mana-r2 {
    background-position: -615px 0;
    width: 15px;
    height: 15px
    }
.mana-n2R, .mana-n2r, .mana-nR2, .mana-nr2 {
    background-position: -574px -16px;
    width: 14px;
    height: 14px
    }
.mana-s2R, .mana-s2r, .mana-sR2, .mana-sr2 {
    background-position: -492px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs2R, .mana-xs2r, .mana-xsR2, .mana-xsr2 {
    background-position: -410px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs2R, .mana-xxs2r, .mana-xxsR2, .mana-xxsr2 {
    background-position: -328px -55px;
    width: 8px;
    height: 8px
    }
.mana-2G, .mana-2g, .mana-G2, .mana-g2 {
    background-position: -630px 0;
    width: 15px;
    height: 15px
    }
.mana-n2G, .mana-n2g, .mana-nG2, .mana-ng2 {
    background-position: -588px -16px;
    width: 14px;
    height: 14px
    }
.mana-s2G, .mana-s2g, .mana-sG2, .mana-sg2 {
    background-position: -504px -31px;
    width: 12px;
    height: 12px
    }
.mana-xs2G, .mana-xs2g, .mana-xsG2, .mana-xsg2 {
    background-position: -420px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxs2G, .mana-xxs2g, .mana-xxsG2, .mana-xxsg2 {
    background-position: -336px -55px;
    width: 8px;
    height: 8px
    }
.mana-S, .mana-s {
    background-position: -645px 0;
    width: 15px;
    height: 15px
    }
.mana-nS, .mana-ns {
    background-position: -602px -16px;
    width: 14px;
    height: 14px
    }
.mana-sS, .mana-ss {
    background-position: -516px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsS, .mana-xss {
    background-position: -430px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsS, .mana-xxss {
    background-position: -344px -55px;
    width: 8px;
    height: 8px
    }
.mana-Q, .mana-q {
    background-position: -660px 0;
    width: 15px;
    height: 15px
    }
.mana-ut, .mana-UT {
    background-position: -660px 0;
    width: 15px;
    height: 15px
    }
.mana-nQ, .mana-nq {
    background-position: -616px -16px;
    width: 14px;
    height: 14px
    }
.mana-sQ, .mana-sq {
    background-position: -528px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsQ, .mana-xsq {
    background-position: -440px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsQ, .mana-xxsq {
    background-position: -352px -55px;
    width: 8px;
    height: 8px
    }
.mana-T, .mana-t {
    background-position: -675px 0;
    width: 15px;
    height: 15px
    }
.mana-nT, .mana-nt {
    background-position: -630px -16px;
    width: 14px;
    height: 14px
    }
.mana-sT, .mana-st {
    background-position: -540px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsT, .mana-xst {
    background-position: -450px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsT, .mana-xxst {
    background-position: -360px -55px;
    width: 8px;
    height: 8px
    }
.mana-PW, .mana-pw, .mana-WP, .mana-wp {
    background-position: -690px 0;
    width: 15px;
    height: 15px
    }
.mana-nPW, .mana-npw, .mana-nWP, .mana-nwp {
    background-position: -644px -16px;
    width: 14px;
    height: 14px
    }
.mana-sPW, .mana-spw, .mana-sWP, .mana-swp {
    background-position: -552px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsPW, .mana-xspw, .mana-xsWP, .mana-xswp {
    background-position: -460px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsPW, .mana-xxspw, .mana-xxsWP, .mana-xxswp {
    background-position: -368px -55px;
    width: 8px;
    height: 8px
    }
.mana-PU, .mana-pu, .mana-UP, .mana-up {
    background-position: -705px 0;
    width: 15px;
    height: 15px
    }
.mana-nPU, .mana-npu, .mana-nUP, .mana-nup {
    background-position: -658px -16px;
    width: 14px;
    height: 14px
    }
.mana-sPU, .mana-spu, .mana-sUP, .mana-sup {
    background-position: -564px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsPU, .mana-xspu, .mana-xsUP, .mana-xsup {
    background-position: -470px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsPU, .mana-xxspu, .mana-xxsUP, .mana-xxsup {
    background-position: -376px -55px;
    width: 8px;
    height: 8px
    }
.mana-PB, .mana-pb, .mana-BP, .mana-bp {
    background-position: -720px 0;
    width: 15px;
    height: 15px
    }
.mana-nPB, .mana-npb, .mana-nBP, .mana-nbp {
    background-position: -672px -16px;
    width: 14px;
    height: 14px
    }
.mana-sPB, .mana-spb, .mana-sBP, .mana-sbp {
    background-position: -576px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsPB, .mana-xspb, .mana-xsBP, .mana-xsbp {
    background-position: -480px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsPB, .mana-xxspb, .mana-xxsBP, .mana-xxsbp {
    background-position: -384px -55px;
    width: 8px;
    height: 8px
    }
.mana-PR, .mana-pr, .mana-RP, .mana-rp {
    background-position: -735px 0;
    width: 15px;
    height: 15px
    }
.mana-nPR, .mana-npr, .mana-nRP, .mana-nrp {
    background-position: -686px -16px;
    width: 14px;
    height: 14px
    }
.mana-sPR, .mana-spr, .mana-sRP, .mana-srp {
    background-position: -588px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsPR, .mana-xspr, .mana-xsRP, .mana-xsrp {
    background-position: -490px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsPR, .mana-xxspr, .mana-xxsRP, .mana-xxsrp {
    background-position: -392px -55px;
    width: 8px;
    height: 8px
    }
.mana-PG, .mana-pg, .mana-GP, .mana-gp {
    background-position: -750px 0;
    width: 15px;
    height: 15px
    }
.mana-nPG, .mana-npg, .mana-nGP, .mana-ngp {
    background-position: -700px -16px;
    width: 14px;
    height: 14px
    }
.mana-sPG, .mana-spg, .mana-sGP, .mana-sgp {
    background-position: -600px -31px;
    width: 12px;
    height: 12px
    }
.mana-xsPG, .mana-xspg, .mana-xsGP, .mana-xsgp {
    background-position: -500px -44px;
    width: 10px;
    height: 10px
    }
.mana-xxsPG, .mana-xxspg, .mana-xxsGP, .mana-xxsgp {
    background-position: -400px -55px;
    width: 8px;
    height: 8px
    }
/* {5.1.2} More symbols*/
.mana-day, .mana-Day, .mana-DAY {
background-position: -169px 95px;
width: 16px;
height: 16px;
    }
.mana-night, .mana-Night, .mana-NIGHT {
background-position: -185px 95px;
width: 16px;
height: 16px;
    }
.mana-chaos, .mana-Chaos, .mana-CHAOS {
background-position: -201px 16px;
width: 16px;
height: 14px;
    }
.mana-planeswalker,.mana-Planeswalker,.mana-PlanesWalker,.mana-PLANESWALKER {
background-position: -217px 16px;
width: 10px;
height: 14px;
    }
.mana {
  background-image: url(%%magic-symbols2%%);
  display: inline-block;
  z-index: 30;
  cursor: default;
  vertical-align: top;
  font-size: 0;
}
