.mana-x { background-position: -0px 0; }
.mana-y { background-position: -15px 0; }
.mana-0 { background-position: -30px 0; }
.mana-1 { background-position: -45px 0; }
.mana-2 { background-position: -60px 0; }
.mana-3 { background-position: -75px 0; }
.mana-4 { background-position: -90px 0; }
.mana-5 { background-position: -105px 0; }
.mana-6 { background-position: -120px 0; }
.mana-7 { background-position: -135px 0; }
.mana-8 { background-position: -150px 0; }
.mana-9 { background-position: -165px 0; }
.mana-10 { background-position: -180px 0; }
.mana-11 { background-position: -195px 0; }
.mana-12 { background-position: -210px 0; }
.mana-15 { background-position: -255px 0; }
.mana-16 { background-position: -270px 0; }
.mana-20 { background-position: -330px 0; }
.mana-w { background-position: -345px 0; }
.mana-u { background-position: -360px 0; }
.mana-b { background-position: -375px 0; }
.mana-r { background-position: -390px 0; }
.mana-g { background-position: -405px 0; }
.mana-wu { background-position: -420px 0; }
.mana-wb { background-position: -435px 0; }
.mana-rw { background-position: -450px 0; }
.mana-gw { background-position: -465px 0; }
.mana-ub { background-position: -480px 0; }
.mana-ur { background-position: -495px 0; }
.mana-gu { background-position: -510px 0; }
.mana-br { background-position: -525px 0; }
.mana-bg { background-position: -540px 0; }
.mana-rg { background-position: -555px 0; }
.mana-2w { background-position: -570px 0; }
.mana-2u { background-position: -585px 0; }
.mana-2b { background-position: -600px 0; }
.mana-2r { background-position: -615px 0; }
.mana-2g { background-position: -630px 0; }
.mana-s { background-position: -645px 0; }
.mana-q { background-position: -660px 0; }
.mana-t { background-position: -675px 0; }
.mana-wp { background-position: -690px 0; }
.mana-up { background-position: -705px 0; }
.mana-bp { background-position: -720px 0; }
.mana-rp { background-position: -735px 0; }
.mana-gp { background-position: -750px 0; }
.mana-c { background-position: -765px 0; }
