.row.card_row
  .col-xs-5.card_picture_cell
    = render 'card/picture', card: card
  .col-xs-7.cardinfo
    = render 'card', card: card
  .col-xs-12
    = render 'printings_full', card: card, printings: printings
  .col-xs-12.col-sm-12.cardinfo
    = render 'card_extra', card: card
