.row.card_row
  .col-5.card_picture_cell
    = render 'card/picture', card: card
  .offset-1.col-6.cardinfo
    = render 'card', card: card
.row.card_row
  .col-6.cardinfo
    = render 'card_extra', card: card
  .col-6
    = render 'printings_full', card: card, printings: printings_view_full(card, printings)
