.row.card_row
  .col-4.card_picture_cell
    = render 'card/picture', card: card
  .col-8.col-md-6.cardinfo
    = render 'card', card: card
  .hidden-sm-down.col-md-2
    = render 'printings_short', card: card, printings: printings_view(card, printings)
