- if @warnings.present?
  .warnings
    - @warnings.each do |warning|
      .warning= warning
- if @search.present?
  - if @cards.present?
    %table
      - @cards.each do |card, matching_printing|
        %tr
          %td
            %div.card
              = render 'card', card: card
          %td
            = render 'printings', card: card, printings: matching_printing
    = will_paginate @cards
  - else
    .zero_results
      No results found.
