%p
  %em Commander
  also known as
  %em EDH
  is a casual eternal Constructed multiplayer format.

%p
  Decks consist of 100 cards and no sideboard, one of which is a legendary creature chosen as a commander.

%p
  Except for basic lands, all cards are allowed in only 1 copy. No card is allowed if its color identity contains colors outside color identity of the chosen commander.

%p
  For more information and detailed deck construction rules, visit <a href="http://mtgcommander.net/rules.php">the official Commander website</a>.

%p
  Commander formerly had "restricted" cards, which were allowed in the deck, but not as a commander. Currently there are no such cards.
