%p
  %em Custom Standard
  is a custom rotating Constructed format modeled after <a href="standard">Standard</a>. It consists of some of the most recently finished custom sets.

%p
  <a href="https://docs.google.com/document/u/2/d/e/2PACX-1vT-TRao87QE3QOqVLqEX4xKI-hCYuNYm-jHBqDOhTUEkTEmcnNHygEaCi4WmWtDKLepYwrsEd6BsItZ/pub">More information</a>

%p
  You can explore past Custom Standards with queries like "f:cstd time:setcode", or "f:cstd time:date", for example:

%ul
  = search_help "f:cstd time:ayr", "Custom Standard when Aenyr was added (the first Custom Standard format)"
  = search_help "f:cstd time:ldo", "Custom Standard when Lorado was added (the second Custom Standard format)"
