%p
  %em Custom Brawl
  is a rotating custom Constructed format modeled after <a href="brawl">Brawl</a> using the same sets as <a href="custom-standard">Custom Standard</a> (but not the same banlist).
