%p
  %em Custom Pauper
  is a custom eternal Constructed format modeled after <a href="pauper">Pauper</a>.

  %p
    A card is legal if it has been “printed” at common rarity in a custom set from <a href="custom-eternal">Custom Eternal</a>.

  %p
    Cards from real sets are not allowed unless reprinted in one of these sets.
