%p
  %em Custom Standard
  is a custom rotating Constructed format modeled after <a href="../standard">Standard</a>.

%p
  It consists of some of the most recently finished custom sets. A non-rotating core set named Gamma will also be introduced in the future.

%p
  You can explore past Custom Standards with queries like "f:cstd time:setcode", or "f:cstd time:date", for example:

%ul
  = search_help "f:cstd time:ayr", "Standard when Aenyr was added to Custom Constructed (the first Custom Standard format)"
