%p
  %em Custom Modern
  is a non-rotating Constructed format consisting of cards from all custom sets that are or have been in <a href="custom-standard">Custom Standard</a>, with the exception of the first three (Aenyr, Dreamscape, and Ankheret).

  %p
    Cards from real sets are not allowed unless reprinted in one of these sets.
