%p
  %em Custom Standard
  is a custom rotating Constructed format modeled after <a href="standard">Standard</a>. It consists of 5 to 7 custom sets which are rotated in based on the results of a community vote.

%p
  %a{href: "https://tinyurl.com/ya8jyepe"} What is Custom Standard?

%p
  To play, join <a href="https://discord.gg/gVrKyWJ">the Custom Standard Discord server</a>.

%p
  You can explore past Custom Standards with queries like "f:cs time:setcode", or "f:cs time:date", for example:

%ul
  = search_help "f:cs time:ayr", "Custom Standard when Aenyr was added (the first Custom Standard format)"
  = search_help "f:cs time:ldo", "Custom Standard when Lorado was added (the second Custom Standard format)"
