%p
  %em Duel Commander
  is a variant of Commander format meant for two-player games.

%p
  Decks consist of 100 cards and no sideboard, one of which is a legendary creature chosen as a commander.

%p
  Except for basic lands, all cards are allowed in only 1 copy. No card is allowed if its color identity contains colors outside color identity of the chosen commander.

%p
  For more information and detailed deck construction rules, visit <a href="http://www.duelcommander.com/">the official Duel Commander website</a>.

%p
  Duel Commander has "restricted" cards, which are allowed in the deck, but not as a commander.
