%p
  %em Pauper
  is a competitive Block Constructed format consisting of cards which were printed at common rarity.

%p
  Because some sets are not available on MTGO, certain cards are available as commons on paper, but only at higher rarities on MTGO. For this reason, legalities differ slightly between paper Pauper (which is used here) and MTGO Pauper.
