%p
  %em Penny Dreadful
  is an unofficial competitive Constructed format for MTGO consisting of cards which cost no more than 0.01 tix.

%p
  Updated list of allowed cards is published every Standard set, and remains valid until next Standard set release.

%p
  You can learn more about the format by visiting <a href="http://pdmtgo.com/">its official website</a>.

%p
  To check most recent list of available cards, search
  = link_to_search('f:"penny dreadful"') do
    f:"penny dreadful"
