%p
  %em Premodern
  is a community-created constructed format consisting of the sets from Fourth Edition to Scourge.

%p
  For more information check <a href="https://premodernmagic.com/">Premodern's official website</a>.
