%p
  %em Standard
  is a competitive rotating Constructed format consisting of cards from the most recently printed blocks.

%p
  For future rotations, check <a href="http://whatsinstandard.com/">what's in Standard</a> site.

%p
  You can explore past Standards with queries like "f:standard time:setcode", or "f:standard time:date", for example:

%ul
  = search_help "f:standard time:roe", "Standard when Rise of Eldrazi got released"
  = search_help "f:standard time:2000-01-01", "Standard on 2000-01-01"
  = search_help "banned:standard time:m12", "Cards banned in Standard when Magic 2012 got released"
