%p
  %em Vintage
  is a competitive eternal Constructed format consisting of cards from all white and black bordered regular cards, except ones which have been specifically banned or restricted.

%p
  A deck is only allowed to have 1 copy of each restricted card, instead of the usual 4.
