.row
  .col-xs-12
    %h3 Artists
    %ul
      - @artists.each do |artist, card_count|
        %li
          = link_to_artist(artist) do
            = artist.name
          = "(#{pluralize(card_count, "card")})"
