%h3= @set.name
- if @cards.present?
  %table
    - @cards.each do |card|
      %tr
        %td
          = render 'card/picture', card: card
        %td
          %div.card
            = render 'card/card', card: card
  = will_paginate @cards
