%h3= @set.name
- if @cards.present?
  %table
    - @cards.each do |card|
      %tr
        %td
          - if card_picture_path(card)
            %img.card_picture{src: card_picture_path(card) }
        %td
          %div.card
            = render 'card/card', card: card

  = will_paginate @cards
